body,.row,section,header
{
    margin: 0px;
    padding: 0px;

}
a
{
    text-decoration: none;
    color: black;
    padding: 16px 8px;
    font-size: 22px;
}
a
{
    color:#DC3545 ;

}

#nav-logo
{
    font-size: 37px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 20px;
    width: 80%;
}
header
{
position: static;
    
}
#overlay
{
  #background-color: rgba(0, 0, 0, 0.6);
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    }

button
{   
    font-family: cursive;
    font-size:10px;
    border-radius: 9px;
    background-color: black;
    margin: 5px;
    width: 100%;
}

#bg-img
{
    background-image: url('revnickel.jpg');
    background-repeat: no-repeat;
    background-size:100% 50vh;
    height: 70vh; width: 100%;  
    margin: 2%;



.card-img-top
{
    height: 300px;
    border-radius: 8px;
 
}
.card
{
    border-radius: 8px;
    -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.658)
}

footer
{
    background-color: black;
    padding: 5%;
    color:white;
    position: static;
}
h3
{
    text-transform: uppercase;
}
#video
{
   margin:0px 10px; 
}

@media (max-width:480px)
{
    #nav-logo
{
    font-size: 30px;
    padding: 10px 5px;
    width: 100%;
    font-weight: bolder;
}
video
{
    height: 300px;
}
    footer
    {
        position: relative;
    }
    button
    {
        width: 100%;
    }
}
